body{
    margin: 0px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}

.navigare ul{
    list-style: none;
    background-color: hsl(0, 0%, 25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navigare a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navigare a:hover{
    background-color: hsl(0, 0%, 10%);
}

.navigare li{
    float: left;
}

h3{
    text-align: center;
}

.galerie{
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
}

.galerie .descriere{
    padding: 10px;
    text-align: center;
}

.galerie:hover{
    border: 1px solid hsl(0, 0%, 20%);
}

.galerie img{
    width: 100%;
    float: left;
}